.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: bgcolor;
  transition: background-color 0.5s ease;
}
button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #007BFF;
  border-radius: 20px;
  background: none;
}
button:hover{
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s ease;
}